<div class="login">
  <form action="/authenticate/login" method="post" class="pure-form">
    <fieldset>
    <input type="text" name="email" placeholder="Email"class="input">
    <input type="password" name="password" placeholder="Password"class="input"><br><br>
    <input type="submit" class="pure-button pure-button-primary"> <a href="/authenticate/signup"> Or signup </a>
    </fieldset>
  </form>
</div>