<div class="login">
  <form action="/authenticate/login" method="post">
    <input type="text" name="email" placeholder="Email">
    <input type="password" name="password" placeholder="Password">
    <input type="submit"> <a href="/authenticate/signup"> Or signup </a>
  </form>
</div>