<form action="/authenticate/signup" method="post">
  <input type="text" name="name" placeholder="Name">
  <input type="text" name="email" placeholder="Email">
  <input type="text" name="photo_url" placeholder="photo_url">
  <input type="password" name="password" placeholder="Password">
  <input type="password" name="password_confirmation" placeholder="Password confirmation">
  <input type="submit">
</form>