<form action="/authenticate/signup" method="post" class="pure-form">
  <fieldset>
  <input type="text" name="name" placeholder="Name" class="input">
  <input type="text" name="email" placeholder="Email" class="input">
  <input type="text" name="photo_url" placeholder="photo_url" class="input">
  <input type="password" name="password" placeholder="Password" class="input">
  <input type="password" name="password_confirmation" placeholder="Password confirmation" class="input">
  <input type="submit">
  </fieldset>
</form>